<!DOCTYPE html>

<!--
	Google HTML5 slide
	templateAuthors: Luke Mahé (code)
	Marcin Wichary (code and design)
	Dominic Mazzoni (browser compatibility)
	Charles Chen (ChromeVox support)
	URL: http://code.google.com/p/html5slides/
-->

<html>
<head>
	<title>LaTeX Training - Sajjad Anwar</title>
	<meta charset='utf-8'>
	<script src='../slides.js'></script>
	<script src='../prettify.js'></script>
	<link rel="stylesheet" href="../styles.css" type="text/css"/>
</head>

<body style='display: none'>

<section class='slides layout-faux-widescreen template-default'>
	<article><h1>LaTeX<br>for the Newbie</h1><p>Sajjad Anwar<br>Technology Consultant</p><p>@geohacker</p></article>
	<article><h2>LaTeX, the language of documents.</h2><p><div class="build"><p>LaTeX is a Document Preparation System.</p><p>Document Markup Language.</p><p>Based on TeX by Donald E Knuth.</p><p>Highest typographical quality.</p><p>Pre-designed, Professional templates.</p><p>Introduced by Leslie Lamport.</p></div></p></article>
	<article><h1>Language?<br><p>Yes.</p><p>But you don't have to be a programmer.</p></h1></article>
	<article><q>LaTeX can save about two months formatting time of the average 3–4 year writing cycle.</q><div class='author'>Peter Flynn</div></article>
	<article><h3><br></h3><ul class="build"><li><p class='black'>Portable.</p>LaTeX doesn't care if you are on Windows, Linux or Mac.<li><p class='black'>Quality.</p>Mathematical, Multilingual.<li><p class='black'>Control.</p>Books, Bibliography.<li><p class='black'>Modular.</p>Document writing, one drop at a time.<li><p class='black'>Freedom.</p>Live happily ever after.</ul></div></article>
	<article><p><h1>WYMIWYG</h1></p><p>What You Mean Is What You Get.<p><div class="build"><p>Header, Footer</p><p>Margins</p><p>Paragraphs</p><p>Pages</p> </div></p><br><br><br><br><br><br></article>
	<article><h1>Welcome!</h1><p>Producing LaTeX documents.<br>The basics.</article>
	<article><h2><br><br><br><code class="build"><p>\documentclass{article}<br><br></p><p>\begin{document}<br><br></p><br>Hello world!<br><br><p>\end{document}<br><br></p></code></h2></article>
	<article><h3><br><br><br>Document Class</h3><p>Report. <p>Article. <p>Letter. <p>Book. <p>Slides.</p></article>
	<article><code>\documentclass{article}<br><br>\title{My First \LaTeX\ Article}<br><br>\author{Sajjad Anwar}<br><br>\date{\today}<br><br>\begin{document}<br><br>\maketitle<br><br>Place the body of your article here.<br><br>\end{document}<br></code></article>
	<article><h2><br><br><br><br>Document Structure.</h2><h3><code class="build"><p>\abstract{...} <p>\part{...}<p>\chapter{...}<p>\section{...}<p>\subsection{...}<p>\subsubsection{...}<p>\paragraph{...}<p>\subparagraph{...}</p></code></article>
	<article><h1>Table of Contents</h1><p>Not painful, anymore.</p></article>
	<article><h1>\tableofcontents</h1></article>
	<article><h1>Bibliography</h1><p>List and Cite. Anywhere.</p></article><article class='smaller'><br><br><br><br><br><br><code><h3><p>\begin{thebibliography}{Dennis}</p><p>\bibitem[Dennis Ritchie, 1973]{dennis}<p>C Programming Language, \emph{Bell Labs}</p><p>\end{thebibliography}</p></h3></code></article>
	<article><h1>Lists</h1><p>Enumerated. Bulleted</article>
	<article><br><br><br><code><p>\begin{enumerate}</p><p>\item Automated traffic surveillance.</p><p>\item Automated high-way/parking.</p><p>\item Automation of petrol stations.</p><p>\item Journey time monitoring.</p><p>\end{enumerate}</p></code></article>
	<article><br><br><br><code><p>\begin{itemize}</p><p>\item Automated traffic surveillance.</p><p>\item Automated high-way/parking.</p><p>\item Automation of petrol stations.</p><p>\item Journey time monitoring.</p><p>\end{itemize}</p></code></article>
	<article><h1>Graphics</h1><p>Insert. Scale.</p></article>
	<article><br><br><br><br><br><br><br><code><p>\includegraphics{logo.png}</p></code></article>
	<article><br><h3>File Types</h3><br><p><b>.tex</b><br>LaTeX or TeX input file.</p><p><b>.sty</b><br>LaTeX macro package. Loaded using the "\usepackage" command.</p><p><b>.cls</b><br>Class files define what your document looks like. Selected with the "\documentclass" command.</p></article>
	<article><h2>Setting up LaTeX</h2><br><br><br><br><p><b>Windows</b><br>MiKTeX |<a href='http://miktex.org'>miktex.org</a></p><p><b>GNU/Linux</b><br>Kile | TeX Live | Text Editor | pdflatex</p></article>
	<article><h1>Code</h1><p><a href ="https://github.com/geohacker/latex-workshop">github.com/geohacker/latex-workshop</a></p></article>
	<article><h1><b>\o/<br>You Win</b><br><br>Thank you!</h1></article>
</section> 

<section class='slides layout-faux-widescreen template-default'>
	<article><h2 class="gray">me@sajjad.in | sajjad.in<hr><br>@geohacker<br>github.com/geohacker<br></h2></article>
</section>

</body></html>
